<html lang="zh-Hant">

  <head>
    <meta charset="UTF-8" />
    <!-- 可包含大多數所有語言 -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- width=device-width 指的是符合大多數裝置觀看 -->
    <!-- initial-scale=1.0 在裝置上觀看為正常1倍 -->
    <meta name="robots" content="index ,follow" />
    <!-- 讓網站可以搜尋到此網頁 -->
    <meta name="description" content="homework" />
    <!-- 主頁搜尋後副標題內容 -->
    <meta name="author" content="allen hsu" />
    <!-- 定義這網站作者是誰 -->
    <title>homework</title>
    <!-- 網頁名稱 -->
    <base target="_self" />
    <!-- 網頁自身跳轉 -->

    <!-- link css files here -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.1/css/all.min.css"
    />
  </head>

  <body>
    <header>
      <!-- navigation -->
      <nav class="navbar">
        <div class="navbar__left">
          <a href="/">回到首頁</a>
        </div>

        <div class="navbar__right">
          <a href="/about">About</a>
          <a href="/portfolio">Portfolio</a>
          <a href="/content">Content</a>
        </div>
      </nav>
    </header>

    <!-- partial templates will replace the part of "body" here -->
    {{{body}}}

    <!-- include javascript files here -->
    <script src="/javaScripts/popper.js"></script>
    <script src="/javascripts/bootstrap.js"></script>
  </body>

</html>