<div class="wrapper">
  <h1>{{indexPage}}</h1>
</div>

{{! <div class="navbar">
  <div class="navbar__header">
    <button>首頁</button>
  </div>
  <div class="navbar__bar">
    <button>About</button>
    <button>Portfolio</button>
    <button>Contact</button>
  </div>
</div>

<h1 class="title">首頁</h1> }}

{{! 一開始想使用不同頁面來呈現按鈕，發現重工太多，重新調整動態呈現 }}